* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 100px;
   background-color:  #26333D;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 100%;
} 

nav a:hover {
    color: #2FD6CB;
    text-decoration: none;
}

header nav a {
    display: flex;
    color: white;
    text-decoration: none;
} 

main{
    background-color: #3691d8;
    display: flex;
    justify-content: center;
}

form{
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255),0,0.4;
}